nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0,0.4);
    margin: 0% 0% 0% 0%;
   width: 100%;
   height: auto;
   background-image: url("/assets/backgroundSVG.svg");
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mercadorias{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: rgba(151, 151, 151, 0.5);
    margin-top: 5%;
}
.mercadoria{
  width: 80%;
  background-color: #F87F2F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25%;
  margin: 5%;
}
a{
    text-decoration: none;
    color: white;
    margin: 3%;
    font-size: 80%;
}
a:active{
    text-decoration: underline #F87F2F;
}
footer{
    margin-top: -5%;
    margin-bottom: -15%;
    justify-content: baseline;
    color: white;
    text-align: left;
    padding: 5% 15%;
}
#carrinhoNome{
    color: gray;
    font-size: 110%;    
    display: flex;
    justify-content: flex-end;
    margin-top: -5%;
    margin-bottom: 5%;
    margin-right: -40%;
    font-size: 200%;
}
#valor{
    color: gray;
    font-size: 200%;
    display: flex;
    justify-content: flex-end;
    margin-top: -5%;
    margin-right: -40%;
}
.carrinho{
    margin-right: 50%;
    width: 50%;
}

#carrinhoBranco{
    position: relative;
    margin-top: -30%;
    margin-bottom: 0%;
    margin-left: 85%;
    padding-bottom: 20%;
    padding-left: 5%;
}
#sair{
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    background-color: #F87F2F;
}
h1{
    font-weight: 400;
    color: gray;
    font-size: 200%;
}
.carrinho img{
    margin-top: -10%;
    margin-left: 95%;
    margin-bottom: -1.5%;
}
hr{
    border: 2px solid #F87F2F;
    color: o#F87F2F;
    size: 100%
}