<div class="flex">
  <nav>
      <a routerLink ="/loja">LOJA</a>
      <a href="">JOGOS</a>
      <a href="">CONTATOS</a>
      <a routerLink="/home">SAIR</a>
    </nav>
    <!--visual carrinho laranja-->
    <div class="carrinho">
      <h1>PRODUTOS</h1>
      <div id="linha">
          <hr noshade="noshade">
          <img src="/assets/carrinhoLaranja.svg" alt="carrinhoLaranja" style="width: 10%">
      </div>
      
  </div>
  <!--valor total dos produtos adicionados pelo usuario-->
  <span id="carrinhoNome">carrinho:</span>
  <span id="valor">R$: 0.00</span>
<!--catalago de produtos vendidos-->
  <div class="mercadorias">
      <div class="mercadoria">
          <img src="/assets/blusaBranca.svg" alt="blusaBraca" style="width: 100%">
          <footer>
                  <p onclick="compra(40)">R$ 40,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(40)">

          </footer>
      </div>

      <div class="mercadoria">
          <img src="/assets/blusaBranca1.svg" alt="blusaBranca1" style="width: 100%">
          <footer>
                  <p onclick="compra(50)">R$ 50,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(50)">
          </footer>
      </div>
      <div class="mercadoria">
              <img src="/assets/blusaBranca2.svg" alt="blusaBraca2" style="width: 100%">
              <footer>
                  <p onclick="compra(80)">R$ 80,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(80)">

              </footer>
          </div>
          <div class="mercadoria">
                  <img src="/assets/blusaBranca3.svg" alt="blusaBraca3" style="width: 100%">
                  <footer>
                          <p onclick="compra(10)">R$ 10,00</p>
                          <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(10)">

                  </footer>
              </div>
              

  </div>
  <div class="mercadorias">
      <div class="mercadoria">
          <img src="/assets/canecaBranca.svg" alt="canecaBranca" style="width: 100%">
          <footer>
                  <p onclick="compra(23)">R$ 23,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(23)">
          </footer>
      </div>

      <div class="mercadoria">
          <img src="/assets/canecaBranca.svg" alt="canecaBranca" style="width: 100%">
          <footer>
                  <p onclick="compra(83)">R$ 83,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(83)">
          </footer>
      </div>
      <div class="mercadoria">
              <img src="/assets/canecaBranca.svg" alt="canecaBranca" style="width: 100%">
              <footer>
                  <p onclick="compra(26)">R$ 26,00</p>
                  <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(26)">

              </footer>
          </div>
          <div class="mercadoria">
                  <img src="/assets/canecaBranca.svg" alt="canecaBranca" style="width: 100%">
                  <footer>
                          <p onclick="compra(56)">R$ 56,00</p>
                          <img src="/assets/carrinhoBranco.svg" alt="carrinhoBranco" style="width: 25%" id="carrinhoBranco" onclick="compra(56)">

                  </footer>
              </div>
              

  </div>
</div>