<div class="flex">
    <nav>
      <a href="">LOJA</a>
      <a href="">JOGOS</a>
      <a href="">CONTATOS</a>
      <a href="">ENTRAR</a>
    </nav>
    <fieldset>
      <legend>logo facisa</legend>
    <form [formGroup] = "userForm">
      <label for="name">Nome:<br><input type="text" id="name" name="name" formControlName = "name"></label>
      <label for="email">Email: <br><input type="email" name="email" id="email" formControlName = "email"></label>
      <label for="cpf">CPF: <br> <input type="text" name="cpf" id="cpf" formControlName = "cpf"></label>
      <label for="senha">Senha: <br> <input type="password" name="senha" id="senha" formControlName = "senha"></label>
      <label for="confirm">Confirme senha: <br> <input type="password" name="confirm" id="confirm" formControlName = "confirm"></label>
    </form>
  </fieldset>
  <div class="enviroment">  
    <h1>ok</h1>
    <h1>ok</h1>
    <h1>ok</h1>
    <img src="" alt="jack-aviso">
  </div>
</div>